.square-container {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    /* Establece una altura igual al ancho del contenedor para hacerlo cuadrado */
    overflow: hidden;
}

.square-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fit {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
}

.textoTarjeta {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}